In [1]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.compose import ColumnTransformer


from feature_engine.encoding import (
    RareLabelEncoder,
    MeanEncoder,
    CountFrequencyEncoder,
    # OneHotEncoder
)

import warnings

In [3]:
# Display settings

pd.set_option("display.max_columns", None)

In [7]:
sklearn.set_config(transform_output = 'pandas')

In [9]:
warnings.filterwarnings('ignore')

In [2]:
# Read the data

file_path = r"E:\1. Projects\ML-internship\customer-churn-prediction\Research\data\train.csv"

train = pd.read_csv(file_path)

In [3]:
train.head()

,rownumber,customerid,surname,creditscore,geography,gender,age,tenure,balance,numofproducts,hascrcard,isactivemember,estimatedsalary,exited
0,9470,15674573,Gearhart,713,France,Female,25.0,4,121172.97,1,1.0,1.0,56268.98,0
1,4798,15666173,Chidumaga,793,Germany,Female,32.0,1,96408.98,1,1.0,1.0,138191.81,0
2,943,15804586,Lin,376,France,Female,46.0,6,0.00,1,1.0,0.0,157333.69,1
3,9466,15815259,Fang,835,France,Female,56.0,2,0.00,2,1.0,1.0,39820.13,0
4,4147,15698246,Gordon,658,France,Female,24.0,2,0.00,2,1.0,1.0,84694.49,0

In [6]:
gender_transformer = Pipeline(
    steps= [
        # ('grouper', RareLabelEncoder(tol = 0.1, replace_with = 'Other', n_categories = 2 )),
        ('encoder', OneHotEncoder())
    ]
)

In [5]:
x_train = train.drop(columns = 'exited')
y_train = train.exited.copy()

In [7]:
x_train.loc[:, ['gender']]

      gender
0     Female
1     Female
2     Female
3     Female
4     Female
...      ...
6391  Female
6392    Male
6393  Female
6394    Male
6395    Male

[6396 rows x 1 columns]

In [8]:
gender_transformer.fit_transform(x_train.loc[:, ['gender']])

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 6396 stored elements and shape (6396, 2)>

In [19]:
surname_transformer = Pipeline(
    steps=
    [("surname_encoder", LabelEncoder())]
)

In [23]:
surname_transformer.fit_transform(x_train['surname'])

TypeError: LabelEncoder.fit_transform() takes 2 positional arguments but 3 were given

In [12]:
#onehot encoding

gender_transformer = Pipeline(
    steps = [
        ('encoder', OneHotEncoder(sparse_output=False, handle_unknown="ignore"))
    ]
)

In [13]:
gender_transformer.fit_transform(x_train.loc[:, ['gender']])

array([[1., 0.],
       [1., 0.],
       [1., 0.],
       ...,
       [1., 0.],
       [0., 1.],
       [0., 1.]], shape=(6396, 2))

In [25]:
x_train.head()

,rownumber,customerid,surname,creditscore,geography,gender,age,tenure,balance,numofproducts,hascrcard,isactivemember,estimatedsalary
0,9470,15674573,Gearhart,713,France,Female,25.0,4,121172.97,1,1.0,1.0,56268.98
1,4798,15666173,Chidumaga,793,Germany,Female,32.0,1,96408.98,1,1.0,1.0,138191.81
2,943,15804586,Lin,376,France,Female,46.0,6,0.00,1,1.0,0.0,157333.69
3,9466,15815259,Fang,835,France,Female,56.0,2,0.00,2,1.0,1.0,39820.13
4,4147,15698246,Gordon,658,France,Female,24.0,2,0.00,2,1.0,1.0,84694.49